$colorButtonPrimary: #f91155;
$colorButtonHover: #d8003f;

$colorButtonTextHover: #ffffff;
$colorButtonTextActive: #f9637c;

$colorTextPrimary: #ffffff;
$colorDivider: #ffffff33;
$colorTextHeading: #000000;
$colorTextPrice: #ff4b77;
$colorTextLink: #ff4b77;
$colorTextLinkActive: #ff97b0;
$colorSecondary: #3c3e43;
$colorAccent: #ff7647;

$colorTextValuePrice: #999999;

$textSizeHeading1: 36px;
$textSizeHeading3: 24px;
$textSizeHeading4: 19px;
$textSizeDescription: 16px;
$textSizeButton: 16px;