@use 'variables' as *;
@use 'mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('./assets/img/background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
a {
  text-decoration: none;
  color: $colorTextLink;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: $colorTextLinkActive;
  }
}
p {
  font-family: 'Open Sans', sans-serif;
}

.hotel-page-container {
  padding: 24px 50px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;

  @include mq('tablet') {
    padding: 27px 34px;
  }

  @include mq('mobile') {
    padding: 24px 16px;
  }
}
.hotel-cards-container {
  margin-top: 32px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;

  @include mq('tablet') {
    gap: 28px;
    margin-top: 26px;
  }

  @include mq('mobile') {
    gap: 32px;
    margin-top: 24px;
  }
}

.heading-container {
  display: flex;
  justify-content: center;

  &__heading {
    text-transform: uppercase;
    color: $colorTextHeading;
    font-family: 'Roboto', sans-serif;
    font-size: $textSizeHeading1;
    font-weight: 500;

    @include mq('mobile') {
      font-size: $textSizeHeading3;
      line-height: 32px;
    }
  }
}

.card {
  display: flex;
  align-items: flex-end;
  color: $colorTextPrimary;
  position: relative;
  width: 100%;
  max-width: 372px;
  height: 372px;
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;

  @include mq('tablet') {
    height: 420px;
    max-width: 336px;
  }

  @include mq('mobile') {
    height: 347px;
    max-width: 100%;
  }

  &__guarantee-tag {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 3;
  }
  &__text-content {
    padding: 24px;
    position: relative;
    z-index: 3;
  }
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  &__content-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(180deg, rgba(10, 34, 64, 0.1) 0%, #0a2240 100%);
  }
  &__reserved-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: #ffffff66;
    display: flex;
    align-items: flex-end;
  }
  &__reserved-text {
    width: 100%;
    padding: 26px 25px 32px;
    background-color: $colorSecondary;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    &-link {
      color: $colorTextPrimary;
      &:hover {
        text-decoration: underline;
      }
      &:active {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    @include mq('mobile') {
      font-size: 20px;
      line-height: 26px;
    }
  }
  &__decription {
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid #ffffff33;
    padding-bottom: 20px;
    margin-top: 9px;
    margin-bottom: 18px;
    font-family: 'Open Sans';

    @include mq('mobile') {
      font-size: 14px;
      line-height: 21px;
      margin-top: 10px;
    }
  }
  &__book-container {
    display: grid;
    grid-template-columns: 1fr 180px;
    gap: 24px;

    @include mq('tablet') {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }
  &__price-container {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    @include mq('mobile') {
      font-size: 14px;
      line-height: 21px;
    }
  }
  &__price-line {
    font-size: 19px;

    @include mq('mobile') {
      font-size: 17px;
    }
  }
  &__price,
  &__currency {
    font-size: 24px;
    line-height: 32px;
    margin-left: 6px;

    @include mq('mobile') {
      font-size: 20px;
    }
  }
  &__price {
    color: $colorTextPrice;
    font-weight: 700;
  }
  &__currency {
    color: $colorTextValuePrice;
    font-weight: 400;
    font-family: 'Roboto';
  }
  &__button {
    align-self: center;
  }
}

.button {
  border: none;
  background-color: $colorButtonPrimary;
  color: $colorTextPrimary;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: $textSizeButton;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    background-color: $colorButtonHover;
  }
  &:active {
    color: $colorButtonTextActive;
  }

  @include mq('mobile') {
    font-size: 14px;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.tag {
  display: flex;
  animation: 200ms fadeInUp;
  &__text {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 4px 4px 5px 16px;
    background-color: $colorAccent;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
  }
}